<!-- header to be included in all ejs files -->
 <!DOCTYPE html>
 <html lang="en">
 <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/header.css">
 </head>
 <body>
  <header id="header">
    <a href="/games" id="titleHeader">
       <h1>Hostin Games</h1>
    </a>
  </header>
 </body>
 </html>
