<%- include('./components/header.ejs')  %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
    <link rel="stylesheet" href="/css/home.css">
</head>
<body>
    <div id="genreDisplay">
        <form id="homeFilter">
            <div id="create">
                <a href="/games/submit" id="create">Create Rating</a>
            </div>
            <select name="genre" id="filter">
                <option value="" class="option">No filtering</option>
                <option value="board-game" class="option">boardgame</option>
                <option value="plataformer" class="option">  plataformer</option>
                <option value="fps-shooter" class="option">fps-shooter</option>
                <option value="other" class="option">other</option>
            </select>
            <button class="button" id="filterButton">Filter</button>
        </form>      
    </div>
    <div id="container">
        
    </div>
    
    <footer>
        <!-- content... -->
    </footer>
    <script src="/js/home.js"></script>
</body>
</html>